@import "../global/common.scss";
.home {
  &-intro {
    @apply flex;
    @apply flex-col;
    @apply justify-around;
    @apply items-center;
    @apply bg-no-repeat;
    @apply bg-cover;
    @apply h-screen;
    background-image: url("../../images/backgrounds/recomendation2.jpg");
    &__figure {
      @apply hidden;
    }
    &-info {
      @apply w-full;
      @apply py-12;
      &__subtitle {
        @apply text-xl;
        @apply leading-6;
        @apply text-oscure;
        @apply text-center;
      }
      &__title {
        @apply text-4xl;
        @apply my-1;
        @apply text-oscure;
        @apply leading-tight;
        @apply font-bold;
        @apply text-center;
      }
      &__button {
        @apply py-3;
        @apply block;
        @apply mx-auto;
        @apply my-5;
        @apply rounded-sm;
        @apply border;
        @apply w-44;
        @apply text-white;
        @apply border-none;
        @apply font-bold;
        @apply bg-primary;
      }
    }
    &__image {
      @apply hidden;
    }
  }
  &-section-title {
    @apply flex;
    @apply mx-auto;
    @apply mt-8;
    @apply mb-8;
    @apply flex-row;
    @apply items-center;
    @apply w-ninety;
    @apply justify-center;
    &__title {
      @apply text-3xl;
      @apply font-semibold;
      @apply text-oscure;
      @apply mx-2;
    }
    &__line {
      @apply hidden;
    }
    &__extratitle {
      @apply hidden;
    }
  }
  &-whoWeAre {
    @apply w-ninety;
    @apply mx-auto;
    &-segment {
      @apply block;
      @apply mt-24;
      &__img {
        @apply w-full;
        img {
          @apply w-full;
          @apply h-auto;
        }
      }
      &-information {
        @apply w-full;
        @apply mt-8;
        &__title {
          @apply text-oscure;
          @apply text-2xl;
          @apply leading-tight;
          @apply text-center;
        }
        &__desc {
          @apply text-oscure;
          @apply mt-8;
          @apply text-xl;
          @apply leading-tight;
          @apply text-center;
        }
      }
    }
  }
  &-how {
    @apply my-16;
    &__button {
      @apply py-3;
      @apply block;
      @apply mx-auto;
      @apply my-10;
      @apply rounded-sm;
      @apply border;
      @apply w-ninety;
      @apply text-white;
      @apply border-none;
      @apply font-bold;
      @apply bg-primary;
    }
  }
  &-whatWeHave {
    &__contain {
      @apply block;
    }
  }
  &-testimony {
    &-images {
      &-contain {
        @apply w-60;
        @apply mx-auto;
        @apply my-8;
        @apply overflow-hidden;
        @apply rounded-tr-5xl;
        @apply rounded-bl-5xl;
        &__img {
          @apply w-full;
        }
      }
    }
  }
  &-subscribe {
    @apply block;
    @apply w-ninety;
    @apply my-36;
    @apply mx-auto;
    &-information {
      @apply mb-4;
      &__title {
        @apply text-lg;
        @apply font-bold;
        @apply text-oscure;
      }
      &__desc {
        @apply text-base;
        @apply text-oscure;
      }
    }
    &-form {
      @apply w-full;
      @apply flex;

      @apply items-center;
      @apply justify-center;
      &__email {
        @apply block;
        @apply border;
        @apply py-3;
        @apply w-32;
        @apply px-2;
        @apply text-base;
        @apply rounded-none;
        @apply rounded-tl-md;
        @apply rounded-bl-md;
      }
      &__button {
        @apply block;
        @apply text-white;
        @apply font-bold;
        @apply w-32;
        @apply text-base;
        @apply rounded-tr-md;
        @apply rounded-br-md;
        @apply py-3;
      }
    }
  }
}
@screen md {
  .home {
    &-intro {
      &-info {
        &__subtitle {
          @apply text-2xl;
        }
        &__title {
          @apply text-6xl;
        }
      }
    }
    &-section-title {
      &__title {
        @apply text-4xl;
      }
    }
    &-whoWeAre {
      &-segment {
        @apply flex;
        @apply items-center;
        @apply justify-between;
        @apply mt-10;
        &__img {
          @apply w-oneThird;
          @apply m-0;
        }
        &-information {
          @apply w-half;
          @apply mt-0;
          &__title {
            @apply text-3xl;
            @apply text-left;
          }
          &__desc {
            @apply mt-2;
            @apply text-xl;
            @apply text-left;
          }
        }
      }
    }
    &-how {
      &__grid {
        @apply flex;
        @apply flex-wrap;
        @apply justify-around;
        @apply items-center;
      }
      &__button {
        @apply w-oneThird;
      }
    }
    &-whatWeHave {
      &__contain {
        @apply flex;
        @apply flex-wrap;
        @apply items-center;
        @apply justify-around;
      }
    }
    &-testimony {
      @apply mb-24;
      &-images {
        @apply flex;
        @apply w-ninety;
        @apply justify-around;
        @apply mb-9;
        &-contain {
          @apply mx-0;
          @apply my-0;
        }
      }
    }
    &-subscribe {
      &-form {
        @apply mt-14;
        &__email {
          @apply w-96;
        }
        &__button {
          @apply w-32;
        }
      }
    }
  }
}
@screen lg {
  .home {
    &-intro {
      @apply flex-row;
      height: 800px;
      @apply bg-none;
      &__figure {
        height: 800px;
        @apply absolute;
        @apply right-0;
        @apply top-0;
        @apply rounded-bl-10xl;
        @apply z-negative;
        @apply block;
        @apply w-oneThird;
        @apply bg-inicio;
      }
      &-info {
        @apply w-oneThird;
        @apply py-1;
        &__subtitle {
          @apply text-3xl;
          @apply leading-10;
          @apply w-seventyFive;
          @apply text-left;
        }
        &__title {
          @apply text-6xl;
          @apply my-8;
          @apply text-left;
        }
        &__button {
          @apply m-0;
        }
      }
      &__image {
        width: 40%;
        @apply pt-5;
        @apply block;
        img {
          @apply w-full;
          @apply h-auto;
        }
      }
    }
    &-section-title {
      @apply mt-24;
      &__line {
        @apply h-min;
        @apply block;
        @apply flex-auto;
        @apply bg-black;
      }
      &__extratitle {
        @apply block;
        @apply text-6xl;
        @apply text-intermediate;
        @apply opacity-30;
        @apply font-bold;
      }
    }
    &-whoWeAre {
      &-segment {
        &-information {
          &__title {
            @apply text-4xl;
          }
          &__desc {
            @apply mt-8;
            @apply text-2xl;
          }
        }
      }
    }
    &-testimony {
      @apply w-ninety;
      @apply mx-auto;
      &-images {
        @apply w-half;
      }
    }
    &-subscribe {
      @apply flex;
      @apply justify-between;
      &-information {
        @apply mb-0;
      }
      &-form {
        @apply w-half;
        @apply justify-end;
        @apply mt-0;
        &__email {
          @apply w-96;
        }
        &__button {
          @apply w-32;
        }
      }
    }
  }
}
@screen 2xl {
  .home {
    &-intro {
      height: 1000px;
      &__figure {
        height: 1000px;
      }
      &-info {
        @apply w-oneThird;
        &__subtitle {
          @apply text-4xl;
          @apply leading-tight;
        }
        &__title {
          @apply text-8xl;
          @apply my-10;
        }
        &__button {
          @apply text-2xl;
          @apply w-half;
        }
      }
    }
    &-section-title {
      @apply mt-28;
      @apply mb-10;
      &__title {
        @apply text-5xl;
      }
      &__extratitle {
        @apply text-7xl;
      }
    }
  }
}

.hover-primary {
  transition: 1s;
  @apply cursor-pointer;
  @apply hover:bg-yellow-600;
}
